export EDITOR='micro'

export DOT=$HOME/dotfiles
export GOROOT=/usr/local/go
export GOPATH=$HOME/usr/go
export GOPRIVATE="172.16.40.5"
export SSH_ASKPASS="ksshaskpass"

export KITTY_DISABLE_WAYLAND=1
export ZIG_HOME=$HOME/usr/share/zig/current

export ZIG_HOME=$HOME/usr/share/zig/current
export MVN_HOME=$HOME/usr/share/maven/current

export PATH=$PATH:$GOROOT/bin:$GOPATH/bin:$HOME/bin:$HOME/usr/bin:$POETRYPATH/bin:$ZIG_HOME:$MVN_HOME/bin
export PATH=$PATH:$HOME/.local/bin
export PATH="$DENO_INSTALL/bin:$PATH"

export SSH_AUTH_SOCK="$XDG_RUNTIME_DIR/ssh-agent.socket"
