export EDITOR='nvim'

export DOT=$HOME/dotfiles
export GOROOT=/usr/local/go
export GOPATH=$HOME/Work/go
export POETRYPATH=$HOME/.poetry

export PATH=$PATH:$GOROOT/bin:$GOPATH/bin:$HOME/bin:$POETRYPATH/bin
