export EDITOR='micro'

export DOT=$HOME/dotfiles
export GOROOT=/usr/local/go
export GOPATH=$HOME/Work/go
export GOPRIVATE="172.16.40.5"

export KITTY_DISABLE_WAYLAND=1

export PATH=$PATH:$GOROOT/bin:$GOPATH/bin:$HOME/bin:$HOME/usr/bin:$POETRYPATH/bin
export PATH=$PATH:$HOME/.local/bin
export PATH="$DENO_INSTALL/bin:$PATH"

